body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3A4750;
}

.nav-bar{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #303841;
    width: 100%;
    position:fixed;
    top: 0;
    z-index: 1000;
    display: inline;
    list-style-type: none;
    padding: 10px 0;
    display: flex;
    box-shadow: 0px 1px 10px rgb(0, 0, 0);
    
}

.nav-bar img{
    margin: 20px;
    margin-right: 100px;

}

.lado{
    display: flex;
    padding: 30px;
    margin-top: 10px;
    margin-left: 55%;
    text-decoration: none;
}
    

.nav-bar li{
    display: flex;
    margin: 22px;
    font-size: 25px;
 
    
}

.nav-bar li a{
    color: white;
    text-decoration: none;
    
    
}

.txt{
    flex-direction: column;
    
}
.lado {
    font-family: Arial, sans-serif;
  }
  
  .lado ul {
    list-style-type: none; 
    padding: 0; 
  }
  
  .lado li {
    display: block; 
    margin-bottom: 10px; 
  }
  
  .lado a {
    text-decoration: none; 
    color: #333; 
    position: relative; 
    transition: color 0.4s ease; 
    
  }
  
  .lado a::after {
    content: ''; 
    position: absolute; 
    left: 0; 
    bottom: -2px; 
    width: 100%; 
    height: 3px; 
    transition: background-color 0.3s ease; 
  }
  
  .lado a:hover::after {
    background-color:#EA9215 ;
  }
  .about-us {
    position: absolute;
    top: 150px;
    left: 10px;
    margin-bottom: 20px;
    color: white;
}

.about-us h1 {
    font-size: 24px;
    margin-bottom: 10px;
    
}

.about-us p {
    font-size: 16px;
    margin-bottom: 10px;
    
}